In [ ]:
import numpy as np
import pandas as pd

In [ ]:
file_path = '/content/university_student.csv'
df = pd.read_csv(file_path)

In [ ]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [ ]:
gender_mapping = {"Male": 0, "Female": 1}
school_mapping = {"Public": 0, "Private": 1}
grade_mapping = {"A": 0, "B": 1, "C": 2, "D": 3, "F": 4}

In [ ]:
df["Gender"] = df["Gender"].map(gender_mapping)
df["School Type"] = df["School Type"].map(school_mapping)
df["Grade"] = df["Grade"].map(grade_mapping)

In [ ]:
df["Date of Birth"] = pd.to_datetime(df["Date of Birth"])
df["Age"] = 2025 - df["Date of Birth"].dt.year

In [ ]:
df["Total Score"] = df["Math Score"] + df["Reading Score"] + df["Writing Score"]

In [ ]:
data = df.to_numpy()

In [ ]:
grade_col = df.columns.get_loc("Grade")
age_col = df.columns.get_loc("Age")
total_score_col = df.columns.get_loc("Total Score")
study_time_col = df.columns.get_loc("Study Time")
absences_col = df.columns.get_loc("Absences")

In [ ]:
unique_grades = np.unique(data[:, grade_col])

In [ ]:
grouped_results = []
for grade in unique_grades:
    grade_data = data[data[:, grade_col] == grade]
    avg_age = np.mean(grade_data[:, age_col])
    avg_total_score = np.mean(grade_data[:, total_score_col])
    max_total_score = np.max(grade_data[:, total_score_col])
    min_total_score = np.min(grade_data[:, total_score_col])
    avg_study_time = np.mean(grade_data[:, study_time_col])
    total_absences = np.sum(grade_data[:, absences_col])

In [ ]:
  grouped_results.append([grade, avg_age, avg_total_score, max_total_score, min_total_score, avg_study_time, total_absences])

In [ ]:
grouped_results = np.array(grouped_results, dtype=object)

In [ ]:
print("Grade | Avg Age | Avg Total Score | Max Total Score | Min Total Score | Avg Study Time | Total Absences")
for row in grouped_results:
    print(f"{int(row[0])}     | {row[1]:.2f}    | {row[2]:.2f}           | {int(row[3])}               | {int(row[4])}               | {row[5]:.2f}            | {int(row[6])}")

Grade | Avg Age | Avg Total Score | Max Total Score | Min Total Score | Avg Study Time | Total Absences
4     | 25.31    | 210.06           | 239               | 177               | 9.06            | 38